 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>

      <p>I can design front end for your websites comfortably using Bootstrap and other themes available.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-django-line colored"></i>
      <i class="devicon-flask-orignal colored"></i>

      <p>My codes are efficacious in making your website more powerful and responsive. I can comfortably code in Django, Flask, JavaScript and Angular2+</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <p>I am well-versed in various tools used during development as well as productions, such as Git, AmazonWebServices(ec2), and Heroku</p>
    </div>

  </div>

    <div class="user">
      <div class="tech">
        <h2>Languages</h2>
        <i class="devicon-python-plain-wordmark colored"></i>
        <i class="devicon-c-line-wordmark colored"></i>
        <i class="devicon-cplusplus-line-wordmark colored"></i>
        <p>Well-equipped in Python, C, and C++ to write codes and solve problems.</p>
      </div>
    </div>

