<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/bpstash.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> BPStash (BirthdayPostStash) --Under Development </h3>
    <ul>
      <li> Backend: RESTful API on Django</li>
      <li> Frontend: ReactJS</li>
      <li> Yet to implement the main functionality and deploy it on AWS</li>

    </ul>
    <p>This site helps you to store photos of your friends/family in an organized manner. You make seperate profiles of each person and just tag one or more than one of them on the photos you upload. On their birthday/anniversary or any special day, you get a reminder and a collage/video made. Plus you can access all of these photos in one page so that you can post them on other social media websites like Facebook.</p>
    <a class="project-link" href="http://bpstash.herokuapp.com">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="lstm" src="{{ "/assets/img/lstm.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> LSTM Forex Predictor </h3>
    <ul>
      <li> Based on Keras and Long Short Term Memory Models</li>
      <li> Predicts the the forex rates for EUR to JPY</li>
      <li> Works like time series prediction.</li>
    </ul>
    <p>This is a Machine Learning Project which is uploaded as an ipython notebook with detailed explanation regarding data preprocessing. The model's backend is based on Keras running on Tensorflow backend. </p>
    <a class="project-link" href="https://github.com/bigpythonimish/LSTM-Forex-Predictor">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mpd downloader" src="{{ "/assets/img/mpd.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> MPD Downloader and Merger BASH Script</h3>
    <ul>
      <li> A set of BASH scripts that downloads any mpd file and merges their audio/video</li>
      <li> Webapp for this is under development</li>
      <!-- <li> Yet to implement the main functionality and deploy it on AWS</li> -->

    </ul>
    <p>People struggle downloading videos from sources where they are streamed in fragments and sometimes even password protected. This script will let you download your mpd videos and even merge them automatically using ffmpeg.</p>
    <a class="project-link" href="https://github.com/bigpythonimish/LSTM-Forex-Predictor">Check it out</a>
  </div>
  <div class="user-projects">
  <div class="images-left">
    <img alt="twitter-bot" src="{{ "/assets/img/twitterbot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> News Delivery Twitter Bot (DEPRECIATED) </h3>
    <ul>
      <li> This bot was made on Twitter's STREAM api (when it was working :'(  )</li>
      
      <li> This bot was not made smart due to the lack of resources and data, it worked on string matching.</li>
    </ul>
    <p>Made it as a project for my first internship at a News Company, where the bot would interact with users and deliver news to them by making a query on our DB. I will soon be revamping the bot to the Twitter's new API </p>
    <a class="project-link" href="https://github.com/bigpythonimish/twitterbot">Check it out</a>
  </div>
</div>